/*
    Create a secret.tfvars file containing the following...
    aws_access_source="LOCAL_IP_CIDR"
    aws_key="PUBLIC_KEY"

    LOCAL_IP_CIDR is the CIDR notation for your internet IP. Note that the IP you need is the public IP provided by your ISP, not your local desktop IP
    PUBLIC_KEY is your public SSH key. The default key is usually located in ~/.ssh/id_rsa.pub. Paste the full contents of this file inside the double quotes
*/

# Sample entries
# The values below are not valid and are provided only
# as examples of what your secrets.tfvars file should contain
aws_access_source           ="127.0.0.1/8"
aws_key                     ="ssh-rsa rEa||y_l0ng*key comment"