# The values below are not valid and are provided only
# as examples of what your secrets.tfvars file should contain

aws_access_source           ="127.0.0.1/8"
aws_key                     ="ssh-rsa rEa||y_l0ng*key comment"